body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b92f2f;
}

header {
    text-align: center;
    background-color: #1d0f0f;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

section {
    background-color: rgb(87, 47, 47);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(199, 92, 92, 0.1);
}
